<%if @book.errors.any?%>
<h3><%=@book.errors.count%>errors prohibited this obj from begin saved</h3>
<ul>
  <% @book.errors.full_messages.each do |message|%>
  <li><%=message%></li>
  <%end%>
</ul>
<%end%>
<h1>Editing Book</h1>
<%=form_with model:@book, local:true do |f|%>
<p>Title</p>
<%=f.text_field:title%>

<p>Body</p>
<%=f.text_area:body%>
<p><%=f.submit "Update Book"%></p>
<%end%>
<%=link_to "Show", book_path(@book)%>
|
<%=link_to "Back" ,books_path%>